.topbox {
    
    box-sizing: border-box;
    border: 5px black solid;
    width: 100%;
    height: 30vh;
    margin: 10px;
}

.purplerectangle {
   display: inline-block;
    margin: 5px;
    margin-top: 90px;
    height: 150px;
    width: 30px;
    background-color: rgb(129, 59, 179);
}

.greenrectangle {
display: inline-block;
margin-left: 20px;
height: 150px;
width: 200px;
background-color: rgb(7, 143, 7);
padding-left: 150px;


}

.circle {
    border-radius: 50%;
    background-color: lightskyblue;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-left: 60px;
}


.middlebox {
    box-sizing: border-box;
    border: 5px black dotted;
    width: 100%;
    height: 30vh;
    margin: 10px;
    margin-top: 20px;

}

.stickynote {
    box-sizing: border-box;
    margin: 20px;
    border-right: 5px rgb(160, 158, 158) groove;
    border-bottom: 5px rgb(160, 158, 158) groove;
    width: 90%;
    height: 85%;
    background-color: rgb(238, 224, 207);

}


.bottombox {
margin-left: 400px;    
box-sizing: border-box;    
height: 300px;
width: 300px;
border: 3px lightgrey solid;
color: rgb(25, 25, 129);
justify-content: center;

}

h1 {
    margin: 75px;
    letter-spacing: 2px;
    word-spacing: 30px;
    text-align: center;
}